<!DOCTYPE html>
<html>
<head>
  <title>Cloud Foundry Community | <%= @cms_page.label %></title>
  <link href="http://blog.cloudfoundry.com/wp-content/static/cforg/stylesheets/application.css" media="all" rel="stylesheet" type="text/css" />
  <link href="http://blog.cloudfoundry.com/wp-content/static/cforg/stylesheets/comfortable_mexican_sofa/admin/application.css" media="all" rel="stylesheet" type="text/css" />
  <script src="http://blog.cloudfoundry.com/wp-content/static/cforg/wp-content/static/cforg/javascripts/application.js" type="text/javascript"></script>
  <script src="http://blog.cloudfoundry.com/wp-content/static/cforg/javascripts/comfortable_mexican_sofa/admin/application.js" type="text/javascript"></script>
  <link href='http://blog.cloudfoundry.com/wp-content/static/cforg/img/favicon.ico' rel='shortcut icon'>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-22181585-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>

<body id="<%= @cms_page.label %>">

<%= yield %>

</body>
</html>
